<!-- Footer Nav-->
<div class="footer-nav-area" id="footerNav">
    <div class="container h-100 px-0">
        <div class="suha-footer-nav h-100">
            <ul class="h-100 d-flex align-items-center justify-content-between ps-0">
                <li class="active"><a href="/support"><i class="lni lni-life-ring"></i>Support</a></li>
                <li><a href="/user/notifications"><i class="lni lni-bullhorn"></i>Notifications</a></li>
                <li><a href="/cart"><i class="lni lni-cart"></i>Cart</a></li>
                <li><a href="/user/profile"><i class="lni lni-user"></i>Profile</a></li>
                <li><a href="/user/preferences"><i class="lni lni-cog"></i>Preferences</a></li>
            </ul>
        </div>
    </div>
  </div>
<!-- <div class="footer-nav-area" id="footerNav">
    <div class="container h-100 px-0">
        <div class="suha-footer-nav h-100">
            <ul class="h-100 d-flex align-items-center justify-content-between ps-0">
                <li class="active"><a href="/"><i class="lni lni-home"></i>Home</a></li>
                <li><a href="message.html"><i class="lni lni-life-ring"></i>Support</a></li>
                <li><a href="/cart"><i class="lni lni-shopping-basket"></i>Cart</a></li>
                <li><a href="pages.html"><i class="lni lni-heart"></i>Pages</a></li>
                <li><a href="/user/preferences"><i class="lni lni-cog"></i>Settings</a></li>
            </ul>
        </div>
    </div>
  </div> -->